%h2.title_page
  お客様情報の編集
.property_view_table.mt-5
  = form_with model: @client do |f|
    = render 'layouts/error_messages', object: f.object
    %table.property_view_table
      %tbody
        %tr
          %th.property_view_table-title{:colspan => "1"}
            = f.label '名前'
          %td.property_view_table-body
            = f.text_field :name, class: 'form-control', :placeholder => "田中太郎", :required => "", :type => "text"
        %tr
          %th.property_view_table-title{:colspan => "1"}
            = f.label :email, 'メールアドレス'
          %td.property_view_table-body
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'

    = f.submit '登録する', class: 'btn btn-primary btn-block col-sm-12'
