- @clients.each do |client|
  .room_datail
    %ol
      %li 名前
      %li メールアドレス
      %li 登録
      %li 詳細
      %li ユーザー編集
      %li ユーザー削除
    %ul
      %li= client.name
      %li= client.email
      %li
        %a= link_to '登録', client
      %li
        - if client.condition
          %a= link_to '詳細を見る', client.condition
        - else
          未登録
      %li
        %a= link_to '編集', edit_client_path(client)
      %li
        %a= button_to '削除', client, method: :delete, class: 'btn btn-danger btn-sm'
= paginate @clients
