%h1 物件一覧

= link_to '新規登録', new_building_path, class: 'btn btn-primary'

.md-3
%table.table.table-hover
  %tbody
    - @buildings.each do |building|
      %tr
        %td= '物件名'
        %td= '登録日'
      %tr
        %td= link_to building.name, building
        %td= building.created_at
        %td= button_to '削除', building, method: :delete, class: 'btn btn-danger'
      %tr
        %th= '賃料'
        %th= '平米数'
        %th= '部屋番号'
      - building.madoris.each do |madori|
        %tr
          %td= madori.rent
          %td= madori.square
          %td= madori.room_number
          %td= link_to '詳細', madori, class: 'btn btn-primary'
