%h1 物件一覧

= link_to '新規登録', new_building_path, class: 'btn btn-primary'

.md-3
%table.table.table-hover
  %tbody
    - @buildings.each do |building|
      %tr
        %td= '物件名'
        %td= '住所'
        %td= '情報登録日'
      %tr
        %td= building.name
        %td= building.prefectures + building.address
        %td= building.created_at.strftime('%Y/%m/%d')
        %td
          = link_to '追加', building, class: 'btn btn-primary'
        %td= button_to '削除', building, method: :delete, class: 'btn btn-danger'
      %tr
        %th= '賃料'
        %th= '平米数'
        %th= '部屋番号'
      - building.rooms.each do |room|
        %tr
          %td= room.rent
          %td= room.square
          %td= room.room_number
          %td= link_to '詳細', room, class: 'btn btn-primary'
          %td= button_to '削除', room, method: :delete, class: 'btn btn-danger'
