= search_form_for @q, url: buildings_path, class: 'mb-5' do |f|
  .form-group.row
    .col-sm-10.mb-3
      = f.search_field :name_or_rooms_rent_cont, class: 'form-control', :placeholder => "キーワードを入力"
    .form-group
      = f.submit class: 'btn btn-outline-primary'

%dl
  %dt 並び替え
  %dd
    = form_with model: @building, url: @building, method: :get, local: true do |form|
      = form.select :keyword, [ ['新しい順', 'latest'],
                                ['古い順', 'old'],
                                ['賃料が高い順', 'high'],
                                ['賃料が低い順', 'low'],
                              ]
      = form.submit 'save'

- @buildings.each do |building|
  .building_property
    .building_header
      %h2= building.name
      - if current_user.id == building.user_id
        %nav.navbar.navbar-expand-lg
          #navbarSupportedContent.collapse.navbar-collapse
            %ul.navbar-nav.mr-auto
              %li.nav-item.dropdown
                %a#navbarDropdown.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  &#65049;
                .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                  %a= link_to '部屋追加', building, class: 'dropdown-item'
                  .dropdown-divider
                  %a= button_to '物件削除', building, method: :delete, class: 'dropdown-item'
    .building_detail
      = image_tag building.image, size: '320x240' if building.image.attached?
      %ul
        %li
          %dl
            %dt 住所
            %dd
              = building.prefectures + building.city + building.town_name + building.name
        %li
          %dl
            %dt 交通
            %dd
              = building.transportation
        - if building.completion.present?
          %li
            %dl
              %dt 築年
              %dd= building.completion.to_s + '年'
        - if building.floor_height.present?
          %li
            %dl
              %dt 階数
              %dd= building.floor_height.to_s + '階建'
        %li
          %dl
            %dt 種別
            %dd= building.building_type
        %li
          %dl
            %dt 構造
            %dd= building.structure_type
        - if building.balcony_type.present?
          %li
            %dl
              %dt 向き
              %dd= building.balcony_type
    .room_datail
      %ol
        %li 賃料
        %li 間取り
        %li 専有面積
        %li 所在階
        %li 詳細
        - if current_user.id == building.user_id
          %li 部屋削除
      - building.rooms.each do |room|
        %ul
          %li
            %strong= room.rent.to_s + '円'
          %li= room.madori
          %li
            = room.square.to_s + '㎡'
          %li
            = room.floor
            階
          %li
            %a= link_to '詳細を見る', room
          - if current_user.id == building.user_id
            %li
              %a= button_to '削除', room, method: :delete, class: 'btn btn-danger btn-sm'
= paginate @buildings
