.property_view_table
  = form_with model: @building, local: true do |f|
    = render 'layouts/error_messages', object: f.object
    %table.property_view_table
      %tbody
        %tr
          %th.property_view_table-title{:colspan => "2"}
            = f.label '物件種別'
          %td.property_view_table-body
            = f.select(:building_type, [['マンション'], ['アパート'], ['一戸建て']],{ prompt: "選択してください" }, :required => true )
        %tr
          %th.property_view_table-title{:rowspan => "5"}
            = f.label '物件所在地'
          %th.property_view_table-title
            = f.label '郵便番号(7桁)'
          %td.property_view_table-body
            = f.number_field :zipcode, class: 'form-control', :maxlength => "7", :onkeyup => "AjaxZip3.zip2addr(this,'','pref01','addr01');", :placeholder => "1060032", :type => "text"
        %tr
          %th.property_view_table-title
            = f.label '都道府県'
          %td.property_view_table-body
            = f.text_field :prefectures, class: 'form-control', :placeholder => "東京都", :required => "", :type => "text"
        %tr
          %th.property_view_table-title
            = f.label '市区郡'
          %td.property_view_table-body
            = f.text_field :city, class: 'form-control', :placeholder => "港区", :required => "", :type => "text"
        %tr
          %th.property_view_table-title
            = f.label '町名'
          %td.property_view_table-body
            = f.text_field :town_name, class: 'form-control', :placeholder => "六本木3丁目2-1", :required => "", :type => "text"
        %tr
          %th.property_view_table-title
            = f.label '建物名'
          %td.property_view_table-body
            = f.text_field :name, class: 'form-control', :placeholder => "住友不動産グランドタワー", :required => "", :type => "text"
        %tr
          %th.property_view_table-title{:colspan => "2"}
            = f.label '交通情報'
          %td.property_view_table-body
            = f.text_field :transportation, class: 'form-control', :placeholder => "六本木一丁目駅徒歩1分", :required => "", :type => "text"
        %tr
          %th.property_view_table-title{:colspan => "2"}
            = f.label '築年数'
          %td.property_view_table-body
            .col-md-3.d-flex.flex-row
              %p= '約'
              = f.number_field :completion, class: 'form-control', :placeholder => "10", :maxlength => "2", :type => "text"
              %p= '年'
        %tr
          %th.property_view_table-title{:colspan => "2"}
            = f.label '階数'
          %td.property_view_table-body
            .col-md-3.d-flex.flex-row
              = f.number_field :floor_height, class: 'form-control', :placeholder => "10", :maxlength => "2", :type => "text"
              %p 階建
        %tr
          %th.property_view_table-title{:colspan => "2"}
            = f.label '物件構造'
          %td.property_view_table-body
            = f.select(:structure_type, [['木造'], ['軽量鉄骨'], ['鉄筋コンクリート']],{ prompt: "選択してください" }, :required => true )
        %tr
          %th.property_view_table-title{:colspan => "2"}
            = f.label '向き'
          %td.property_view_table-body
            .col-md-2
              = f.text_field :balcony_type, class: 'form-control', :placeholder => "北", :type => "text"
        %tr
          %th.property_view_table-title{:colspan => "2"}
            = f.label '外観画像'
          %td.property_view_table-body
            = f.file_field :image, class: 'form-control', :required => ""
        %tr
          %td.property_view_table-body{:colspan => "3"}
            = f.submit '登録する', class: 'btn btn-primary btn-block col-sm-12'
