%h1 物件の新規登録

.nav.justify-content-end
  = link_to '一覧', buildings_path, class: 'nav-link'

= form_with model: @building, local: true do |f|
  .form-grup
    = f.label '物件名'
    = f.text_field :name, class: 'form-control', id: 'building_name'
  .form-group
    = f.label '住所'
    = f.text_field :address, class: 'form-control', id: 'building_address'
  = f.submit '登録する', class: 'btn btn-primary'
