.property_view_table
  = form_with(model: [ @building, @building.rooms.build ], local: true) do |f|
    %table.property_view_table
      %tbody
        %tr
          %th.property_view_table-title{:colspan => "1"}
            = f.label '賃料'
          %td.property_view_table-body
            = f.number_field :rent, class: 'form-control', :placeholder => "70000", :required => "", :maxlength => "6", :type => "text"
        %tr
          %th.property_view_table-title{:colspan => "1"}
            = f.label '専有面積'
          %td.property_view_table-body
            .col-md-3.d-flex.flex-row
              = f.number_field :square, step: "0.1", class: 'form-control', :placeholder => "20㎡", :required => "", :maxlength => "4", :type => "text"
              %p ㎡
        %tr
          %th.property_view_table-title{:colspan => "1"}
            = f.label '部屋番号'
          %td.property_view_table-body
            .col-md-2
              = f.text_field :room_number, class: 'form-control', :placeholder => "101", :required => "", :type => "text"
        %tr
          %th.property_view_table-title{:colspan => "1"}
            = f.label '所在階'
          %td.property_view_table-body
            .col-md-3.d-flex.flex-row
              = f.number_field :floor, class: 'form-control', :placeholder => "10", :required => "", :maxlength => "2", :type => "text"
              %p 階
        %tr
          %th.property_view_table-title{:colspan => "1"}
            = f.label '間取り'
          %td.property_view_table-body
            .col-md-3
              = f.text_field :madori, class: 'form-control', :placeholder => "1K", :required => "", :type => "text"
        %tr
          %th.property_view_table-title{:colspan => "1"}
            = f.label '部屋画像'
          %td.property_view_table-body
            = f.file_field :images, class: 'form-control', :required => "", multiple: true
        %tr
          %td.property_view_table-body{:colspan => "3"}
            = f.submit '登録する', class: 'btn btn-primary btn-block col-sm-12'



-# .container.mt-5.p-lg-5.bg-light
-#   = form_with(model: [ @building, @building.rooms.build ], local: true) do |f|
-#     / 賃料
-#     .form-group.row
-#       .md-5.mb-3
-#         = f.label '賃料'
-#         = f.number_field :rent, class: 'form-control', :placeholder => "70000", :required => "", :maxlength => "6", :type => "text"
-#     / 専有面積
-#     .form-group.row
-#       = f.label '専有面積'
-#       .col-md-2.mb-3.d-flex.flex-row
-#         = f.number_field :square, step: "0.1", class: 'form-control', :placeholder => "20㎡", :required => "", :maxlength => "4", :type => "text"
-#         %p ㎡
-#     .form-group.row
-#       .col-md-3.mb-3
-#         = f.label '部屋番号'
-#         = f.text_field :room_number, class: 'form-control', :placeholder => "101", :required => "", :type => "text"
-#     //所在階
-#     .form-group.row
-#       = f.label '所在階'
-#       .col-md-2.mb-3.d-flex.flex-row
-#         = f.number_field :floor, class: 'form-control', :placeholder => "10", :required => "", :maxlength => "2", :type => "text"
-#         %p 階
-#     //間取り
-#     .form-group.row
-#       .col-md-3.mb-3
-#         = f.label '間取り'
-#         = f.text_field :madori, class: 'form-control', :placeholder => "1K", :required => "", :type => "text"
-#     / ファイル選択
-#     .mb-5.form-group
-#       = f.label '画像を登録してください', class: 'custom-file-labelpb-3 pb-3'
-#       = f.file_field :images, class: 'form-control', :required => "", multiple: true
-#     / /ファイル選択
-#     / ボタンブロック
-#     .form-group.row
-#       .col-sm-12
-#         = f.submit '登録する', class: 'btn btn-primary btn-block col-sm-12'
-#     / /ボタンブロック
-#     / /container


