%h1 物件詳細

.nav.justify-content-end
  = link_to '一覧', buildings_path, class: 'nav-link'
%table.table.table-hover
  %tbody
    %tr
      %th= Building.human_attribute_name('物件名')
      %td= @building.name
    %tr
      %th= Building.human_attribute_name('住所')
      %td= @building.address
    %tr
      %th= Building.human_attribute_name('登録日')
      %td= @building.created_at
    %tr
      %th= Building.human_attribute_name('更新日')
      %td= @building.updated_at
    %tr
      %th= Madori.human_attribute_name('賃料')
      %td= @madoris.rent

= button_to '削除', @building, method: :delete, class: 'btn btn-danger'

