%h1 物件の新規登録

.nav.justify-content-end
  = link_to '一覧', madoris_path, class: 'nav-link'

= form_with model: @madori, local: true do |f|
  .form-grup
    = f.label '賃料'
    = f.number_field :rent, class: 'form-control', id: 'madori_rent'
  .form-group
    = f.label '平米数'
    = f.number_field :square, class: 'form-control', id: 'madori_square'
  .form-group
    = f.label '部屋番号'
    = f.text_field :room_number, class: 'form-control', id: 'madori_room_number'
  = f.submit '登録する', class: 'btn btn-primary'
