%h1 物件の新規登録

.nav.justify-content-end
  = link_to '一覧', madoris_path, class: 'nav-link'

= form_with model: @madori, local: true do |f|
  .form-grup
    = f.label :rent
    = f.text_field :rent, class: 'form-control', id: 'madori_rent'
  .form-group
    = f.label :square
    = f.text_field :square, class: 'form-control', id: 'madori_square'
  = f.submit '登録する', class: 'btn btn-primary'
