%h1 物件詳細

.nav.justify-content-end
  = link_to '一覧', madoris_path, class: 'nav-link'
%table.table.table-hover
  %tbody
    %tr
      %th= Madori.human_attribute_name('賃料')
      %td= @madori.rent + "円"
    %tr
      %th= Madori.human_attribute_name('平米数')
      %td= @madori.square + "㎡"
    %tr
      %th= Madori.human_attribute_name('登録日')
      %td= @madori.created_at
    %tr
      %th= Madori.human_attribute_name('更新日')
      %td= @madori.updated_at

= button_to '削除', @madori, method: :delete, class: 'btn btn-danger'

