.building_property
  %h2= @building.name

  %ul
    %li
      - @images.each do |image|
        = image_tag(image, width:180, height:100)
  .property_view_table
    %table.property_view_table
      %tbody
        %tr
          %th.property_view_table-title
            = '所在地'
          %td.property_view_table-body{:colspan => "3"}
            = @building.prefectures + @building.town_name + @building.city + @building.town_name
        %tr
          %th.property_view_table-title
            = '交通情報'
          %td.property_view_table-body{:colspan => "3"}
            = @building.transportation
        %tr
          %th.property_view_table-title
            = '築年数'
          %td.property_view_table-body
            = @building.completion + '年'
          %th.property_view_table-title
            = '向き'
          %td.property_view_table-body
            = @building.balcony_type
        %tr
          %th.property_view_table-title
            = '建物種別'
          %td.property_view_table-body
            = @building.building_type
          %th.property_view_table-title
            = '建物構造'
          %td.property_view_table-body
            = @building.structure_type
        %tr
          %th.property_view_table-title
            = '所在階'
          %td.property_view_table-body
            = @room.floor + '階'
          %th.property_view_table-title
            = '階建'
          %td.property_view_table-body
            = @building.floor_height + '階建'

  %h3 物件概要
  .property_view_table
    %table.property_view_table
      %tbody
        %tr
          %th.property_view_table-title
            = '賃料'
          %td.property_view_table-body{:colspan => "3"}
            %strong= @room.rent + '円'
        %tr
          %th.property_view_table-title
            = '専有面積'
          %td.property_view_table-body
            = @room.square + "㎡"
          %th.property_view_table-title
            = '部屋番号'
          %td.property_view_table-body
            = @room.room_number
        %tr
          %th.property_view_table-title
            = '間取り'
          %td.property_view_table-body
            = @room.madori
          %th.property_view_table-title
            = '情報登録日'
          %td.property_view_table-body
            = @room.created_at.strftime('%Y/%m/%d')
