.sessionsLayoutHeader
  .sessionsLayoutHeader_title
    パスワード再設定メールを送る
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render "users/shared/error_messages", resource: resource
  .form-group.mt-3
    = f.label :email, 'メールアドレス'
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control mt-3'
  .form-group.mt-3
    = f.submit "送信"
