!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myapp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
  %body
    .app-title.navbar.navbar-expand-md.navbar-light.bg-light
      .navbar-brand 不動産アプリ
      .nav.justify-content-end
        = link_to 'TOPページ', buildings_path, class: 'nav-link'
        = link_to '新規登録', new_building_path, class: 'btn btn-primary'
    .container
      - if flash.notice.present?
        .alert.alert-success= flash.notice
      = yield
      %p.notice= notice
      %p.alert= alert
