!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myapp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
  %body
    .app-title.navbar.navbar-expand-md.navbar-light.bg-light
      .navbar-brand Real_estate
    .container
      - if flash.notice.present?
        .alert.alert-success= flash.notice
      = yield
