!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myapp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
  %body
    .app-title.navbar.navbar-expand-md.navbar-light.bg-light
      .navbar-brand 不動産アプリ
      %ul.navbar-nav.ml-auto
      .nav.justify-content-end
        - if current_user
          %li.nav-item= link_to '新規登録', new_building_path, class: 'btn btn-primary'
          %li.nav-item= link_to 'TOPページ', buildings_path, class: 'nav-link'
          %li.nav-item= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link'
    / jQuery first, then Popper.js, then Bootstrap JS
    %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"}
    .container
      - if flash.notice.present?
        .alert.alert-success= flash.notice
      = yield
